body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
h1 {
  color: #2b7a78;
}
.wrapper {
  position: relative;
}

svg {
  background-color: #def2f1;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 10px;
}

.bar {
  background-color: #2b7a78;
  border-color: #2b7a78;
  fill: #2b7a78;
}

.bar:hover {
  fill: #17252a;
}

g {
  color: #17252a;
}

#tooltip {
  margin-top: 5px;
  padding: 5px;
  color: #17252a;
  font-size: 28px;
  background-color: aliceblue;
  border-radius: 10px;
}

#title {
  font-size: 30px;
  fill: #17252a;
}

/*FOOTER*/
.footer {
  min-height: 13rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(#2b7a78, #2b7a78);
  background: -webkit-linear-gradient(#2b7a78, #2b7a78);
  background: -moz-linear-gradient(#2b7a78, #2b7a78);
  background: -o-linear-gradient(#2b7a78, #2b7a78);
  padding: 1rem;
  margin-top: 10rem;
  box-sizing: border-box;
}
.footer p {
  font-size: 1.2rem;
  color: whitesmoke;
  text-align: center;
}
footer div {
  margin-left: 2rem;
}
.footer p a {
  text-decoration: none;
  color: #def2f1;
}
.footer p a:hover {
  text-decoration: underline;
  cursor: pointer;
}
.footer ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 1rem;
}
.footer ul li a {
  color: whitesmoke;
}
.footer ul li {
  transition: all 0.2s;
  list-style-type: none;
  text-align: center;
}
.footer ul li:hover {
  transform: scale(1.3);
}
@media screen and (max-width: 450px) {
  .footer {
    flex-direction: column-reverse;
  }
  footer div {
    margin-left: 0;
    margin-bottom: 2rem;
  }
}
